nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/")
      | Boilerplate webpack 
      svg.navigation__link__icon
    
    ul.navigation__list
      li.naviation__list_item
        a.navigation__link(href="/about") About
      
      li.naviation__list_item
        a.navigation__link(href="/contact") Contact
          
      li.naviation__list_item
        a.navigation__link(href="/collection") Collection

      