block variables

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=3.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    base(href="/")

    title Boilerplate webpack

    <!-- Search Engine -->
    meta(name='description', content='Boilerplate webpack')    
    meta(name='keywords', content='Boilerplate webpack')
    meta(name='author', content='Boilerplate webpack')
    
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    meta(property='og:type', content='website')
    meta(property='og:title', content='Boilerplate webpack')
    meta(property='og:description', content='Boilerplate webpack')
    meta(property='og:image', content='/images/og-image.jpg')

    <!-- Twitter -->
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='Boilerplate webpack')
    meta(name='twitter:description', content='Boilerplate webpack')
    meta(name='twitter:image', content='/images/og-image.jpg')

    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='preconnect', href='https://google-analytics.com')

    body
      include ./partials/navigation
      include ./partials/preloader
    
      .content#content(data-template=template)
        block content
      
      .modals 
        block modal
